RewriteEngine On
# If your folder is 'mydomain.com/api', use /api/
# If it is in the root, use /
RewriteBase /api/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

SetEnv SECRET_CODE MAKE_UP_YOUR_SECRET_CODE
